configuration{
    modi: "emoji";
}

@theme "~/.config/rofi/gruvbox.rasi"

// Wider for more text and room for frequent emojis on a single line
window {
    width: 600px;
}

// Yellow for emojis
prompt {
    background-color: @br-yellow;
}

scrollbar {
    handle-color: @br-yellow;
}

button selected {
    text-color: @br-yellow;
}
