/* Remove Upgrade Button, User Name */
.main-topBar-UpgradeButton,
.main-userWidget-displayName {
  display: none
}

/* Search bar color */
input {
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    background-color: var(--spice-card) !important;
    color: var(--spice-text) !important;
}

.main-topBar-topbarContent svg {
  color: var(--spice-subtext) !important;
}

/* Remove Friend Activity */
.Root__top-container > aside {
    display: none;
}

/* Explicit icon color */
.main-type-ballad > span {
    background-color: var(--spice-subtext);
}
